@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.screen-conter{
  width: 940px;
  height: 584px;
}
.control-l{
  height: 584px;
  border-top-width: 4px;
  border-left-width: 4px;
  border-bottom-width: 4px;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
}
.control-r{
  height: 584px;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}

.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main right right right '
    'footer footer footer footer footer footer';
}

.grid-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0; 
}
