@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Averia Serif Libre rev=2', cursive;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.screen-conter{
  width: 940px;
  height: 584px;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.content{
  position: absolute;
  width: 68%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control-l{
  height: 584px;
  border-top-width: 4px;
  border-left-width: 4px;
  border-bottom-width: 4px;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
}
.control-r{
  height: 584px;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}

/* cart-project */
#GifApp{
  background-image: url("./assets/project-capture/gifApp.png");
}
#CiclaMundo{
  background-image: url("./assets/project-capture/ciclasmundo.png");
}
#ColombiaTKD{
  background-image: url("./assets/project-capture/colombiaTKD.png");
}
#SkyMotion{
  background-image: url("./assets/project-capture/Skymotion.png");
}
#BoxMario{
  background-image: url("./assets/project-capture/question.svg");
}
#top1{
  top: 65px;
}
#top2{
  top: 240px;
}
#top3{
 display: contents;
}

@media (min-height: 700px) {
  #top1{
    top: 140px;
  }
  #top2{
    top: 314px;
  }
}


/* text witch page-experince */
.max-w-custom{
  max-width:  75ch;
}

/* Burbujas */
.burbuja{
  /* opacity: 0.5; */
  position: absolute;
  animation: burbujas 1s linear infinite;
}
.burbuja:nth-child(1){
  width: 48px;
  height: 48px;
  top: 20%;
  left: 70%;
  animation-duration: 3s;
  animation-delay: 2s;
}
.burbuja:nth-child(2){
  width: 48px;
  height: 48px;
  top: 53%;
  left: 60%;
  animation-duration: 5s;
  animation-delay: 3s;
}
.burbuja:nth-child(3){
  width: 48px;
  height: 48px;
  top: 80%;
  left: 72%;
  animation-duration: 8s;
  animation-delay: 2s;
}
.burbuja:nth-child(4){
  width: 48px;
  height: 48px;
  top: 33%;
  left: 63%; 
  animation-duration: 9s;
  animation-delay: 1s;
}
.burbuja:nth-child(5){
  width: 48px;
  height: 48px;
  top: 36%;
  left: 78%;
  animation-duration: 7s;
  animation-delay: 3s;
}
.burbuja:nth-child(6){
  width: 48px;
  height: 48px;
  top: 48%;
  left: 75%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.burbuja:nth-child(7){
  width: 48px;
  height: 48px;
  top: 68%;
  left: 75%;
  animation-duration: 6s;
  animation-delay: 1s;
}

@keyframes burbujas{
  0%{
    bottom: 0;
    opacity: 0;
  }
  30%{
    transform: translate(30px);
  }
  50%{
    opacity: 0;
  }
  100%{
    bottom: 100vh;
    opacity: .4;
  }
}