@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Averia Serif Libre rev=2', cursive;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.screen-conter{
  width: 940px;
  height: 584px;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.content{
  position: absolute;
  width: 68%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control-l{
  height: 584px;
  border-top-width: 4px;
  border-left-width: 4px;
  border-bottom-width: 4px;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
}
.control-r{
  height: 584px;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}

/* cart-project */
#GifApp{
  background-image: url("./assets/gifApp.png");
}
#CiclaMundo{
  background-image: url("./assets/ciclasmundo.png");
}
#ColombiaTKD{
  background-image: url("./assets/colombiaTKD.png");
}
#SkyMotion{
  background-image: url("./assets/Skymotion.png");
}
#BoxMario{
  background-image: url("./assets/box-mario.png");
}
#top1{
  top: 64px;
}
#top2{
  top: 240px;
}
#top3{
 display: contents;
}